{% extends 'app/base.html' %}

{% block title %}
    Home page
{% endblock %}

{% block content %}
    <h3 class="has-text-centered mt-3">Home page</h3>
    <div>
        {% if request.user.is_authenticted %}
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel sollicitudin tellus. Aliquam erat
                volutpat. Etiam sagittis eget felis at imperdiet. Cras maximus nec erat vitae maximus. Mauris at
                placerat
                dolor. In bibendum mattis arcu, et congue odio venenatis in. Quisque convallis eget tellus in accumsan.
                Etiam ut semper sem.
            </p>
            <p>
                Praesent molestie, risus et posuere condimentum, lorem lorem euismod metus, et cursus ex nunc ac massa.
                Suspendisse eget tellus laoreet, volutpat nunc laoreet, pharetra quam. Quisque ut feugiat dolor, in
                finibus
                libero. Sed sollicitudin, quam id aliquam rutrum, mauris neque efficitur nisi, in cursus urna nibh non
                purus. Quisque posuere risus metus, eu porta ligula feugiat vel. Nam tortor orci, commodo id gravida
                vitae,
                lobortis et urna. Morbi quis augue quam. Ut nec ornare arcu.
            </p>
            <p>
                Curabitur pellentesque eros sem, sit amet pellentesque purus ornare vel. Donec porttitor, turpis in
                rhoncus
                luctus, risus risus volutpat sapien, vel ultricies neque erat luctus metus. Donec mollis mollis purus,
                id
                congue velit. Suspendisse sagittis metus ac molestie placerat. Praesent pulvinar erat sit amet
                sollicitudin
                tincidunt. Praesent ornare erat eget quam tincidunt dignissim. Nunc lobortis turpis eu enim porta
                fringilla.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer eget
                ligula
                elit. Aenean accumsan varius tellus, quis interdum nisi.
            </p>
        {% else %}
            <p><a href="{% url 'app:reserve_search' %}" style="margin: 10px auto; display: block;width: fit-content;" class="button">Reserve search</a></p>
            <p><a href="{% url 'login' %}" style="margin: 10px auto; display: block;width: fit-content;" class="link">Login</a></p>
        {% endif %}
    </div>
{% endblock %}
