{% extends 'app/base.html' %}
{% load app_tags %}

{% block title %}
    {{ parking_space.name }}
{% endblock %}


{% block content %}
    <div class="columns is-centered mt-4">
        <div class="column is-4">
            {% include 'app/include/parking_space/card.html' with parking_space=parking_space %}
        </div>
        <div class="column is-8">
            <form action="">
                <div class="columns is-centered">
                    <div class="column is-4">
                        <input class="input" type="datetime-local" name="time_start" value="{{ time_start }}">
                    </div>
                    <div class="column is-4">
                        <input class="input column" type="datetime-local" name="time_end" value="{{ time_end }}">
                    </div>
                    <div class="column is-2">
                        <button type="submit" class="button is-info">search</button>
                    </div>
                    <div class="column is-2">
                        <a class="button is-success add_reserve_button" href="{% url 'app:reserve_create' parking_space.slug %}"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </form>
            {% for date in dates %}
                <div class="box mt-4">
                    <p class="">{{ date|date:"d-m-Y" }}</p>
                    <div>
                        {% with dates|dict_key:date as reserves %}
                            {% for reserve in reserves %}
                                <div class="tag reserve_date is-clickable" data-unique-id="{{ reserve.unique_id }}">
                                    {{ reserve.get_date }}
                                </div>
                            {% empty %}
                                <div class="column">
                                    <span class="not_found">Not found reserves</span>
                                </div>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            {% empty %}
                <h3 class="not_found">Not found date</h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
    function reserve_date_hovered(unique_id){
        let unique_id_elements = document.querySelectorAll(`div[data-unique-id="${unique_id}"]`);
        unique_id_elements.forEach(
            element => {
                element.classList.toggle('is-info')
            }
        )
    }
    let unique_ids = document.querySelectorAll('div[data-unique-id]');
    console.log(unique_ids.length)
    unique_ids.forEach(
        element => {
            let unique_id = element.dataset.uniqueId;
            element.addEventListener('mouseover', function (){reserve_date_hovered(unique_id)})
            element.addEventListener('mouseout', function (){reserve_date_hovered(unique_id)})
        }
    )

    </script>
{% endblock %}